<!-- <div class="main">
  <div style="font-size: 30px;padding-left:45px; letter-spacing: 3px; position:fixed;">FullStack</div>

</div> -->
<!-- <header>
<div class="logo">
<h2 class="head">FullStack</h2>
</div>
<nav>

<ul>
<li> <%= link_to "Log in", new_session_path(resource_name) %><br />
 </li>
<li>  <%= link_to "Sign Out",destroy_user_session_path,method: :delete %></li>
</ul>
</nav>
</header> -->
<style>

ul {
    position: fixed;
    width: 100%;
    top:0;
    font-size: 22px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 60px;
    overflow: hidden;
    background-color: #222;
    border-bottom: 1px solid grey;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
  background-color: #61dafb;
  color: black;
}
.about{
  height: 300px;
  width: 100%;
  background-color: #222;
}
.companydiv{
  height: 400px;
  width: 100%;
  background-image: url("https://www.threadsol.com/assets/logo-4ffa8e6997c5baf97607f0d254c954b3.png");
   background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
}
.container {
  max-width: 100%;

  margin: 0 auto;

}
/* ============================================================
  SECTIONS
============================================================ */
section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  margin-bottom: 40px;
  font-family: "Roboto Slab", serif;
  font-size: 30px;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 30px 0;
}
section.module.parallax {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 48px;
  line-height: 600px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
section.module.parallax-1 {
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/7d/6c/7c/7d6c7cac42c06c4334a02515ce84155b.jpg");
}
section.module.parallax-2 {
  background-image: url("http://wallpapercave.com/wp/XmWoEco.jpg");
}
section.module.parallax-3 {
  background-image: url("http://cdn.wallpapersafari.com/4/68/dzEUQg.jpg");
}

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 96px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 160px;
  }
}

</style>
<ul>
  <li style="margin-left:15px;letter-spacing: 3px;float:left"><%= link_to "FullStack", new_session_path(resource_name) %></li>


  <li><a href="#about">About</a></li>
  <li><a href="#contact">Contact</a></li>
  <li style=""><%= link_to "Signup", new_registration_path(resource_name) %>
</li>
</ul>



<div class="border-form-div">
  <h4>Sign in</h4>
  <br>
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <%= f.email_field :email, :autofocus => true, :placeholder => 'Email address'%><br>
    <%= f.password_field :password,:placeholder => 'Password' %>
    <% if devise_mapping.rememberable? -%>
      <!-- <label class="checkbox"> <%= f.label :remember_me %> Rembmer me </label> -->
    <% end -%>
  <br>
  <button class="button button3">  <%=  "Sign in" %></button><br>

  <% end %>
  <br>

</div>


<div class="companydiv">


</div>

<section class="module parallax parallax-1">
  <div class="container">
    <h1>Serene</h1>
  </div>
</section>

<section class="module content">
  <div class="container">
    <div class="companydiv">


    </div>
  </div>
</section>

<section class="module parallax parallax-2">
  <div class="container">
    <h1>Rise</h1>
  </div>
</section>

<section class="module content">
  <div class="container">
    <div class="companydiv">


    </div>
  </div>
</section>

<section class="module parallax parallax-3">
  <div class="container">
    <h1>Calm</h1>
  </div>
</section>

<section class="module content">
  <div class="container">
    <div class="companydiv">


    </div>
  </div>
</section>
<div class="about">
<h4 style="color:white;">About Us</h4>

</div>
