


<br><br><br><%= link_to 'GoBack', todos_path ,{:style=>'color:black;font-size:25px;padding-top:5px;margin-left:50px;', :class => "css_class"} %>

<p style="margin-left:160px;">You can select your employees</p>

<% if @users.nil? %>
<% return "you are not authorized yet.Contact your manager or admin"  %>
<% else %>
<table style="width:80%;margin-left:10%;margin-top:40px; border: 1px solid black;background-color:white">
  <thead  style="border: 1px solid black;">
    <tr>
      <th style="width:30%;text-align:left;">Email</th>
      <th style="width:30%;text-align:left;">Name</th>
      <th style="width:20%;text-align:left;">Status</th>
      <th style="width:20%;">Manager</th>
      <th colspan="3"></th>
    </tr>
  </thead>
   <tbody>
<% @users.each do |user| %>
<% value=""%>
<% if user.isemployee==true%>
<% value="Not available"%>
<% else %>
<% value="Available"%>
<% end %>
<% if user.ismanager %>
<% else %>
</tr>
<td style="width:20%;text-align:left;"><%= user.email %></td>
<td style="width:25%;text-align:left;"><%= user.try(:fullname) %></td>
<td style="width:30%;text-align:left;"><form action="/select/done" method="POST">
<input type="hidden" name="email" value="<%= user.email %>"><input type="submit" name="makeemployee"value="<%= value%>">
</form><td>
<td style="width:20%;text-align:left;"><%= user.try(:managername) %></td>


</tr>


<% end %>

<% end %>
<% end %>
</tbody>
</table>
