


<!-- <br><br><br><%= link_to 'GoBack', todos_path ,{:style=>'color:black;font-size:25px;padding-top:5px;margin-left:50px;', :class => "css_class"} %> -->
<br><br><br>
<h3 style="margin-left:160px;">You can select your employees</h3>

<% if @users.nil? %>
<% return "you are not authorized yet.Contact your manager or admin"  %>
<% else %>

<table class="centered highlight bordered">
       <thead>
         <tr>
             <th>Email</th>
             <th>Name</th>
             <th>Manager's Name</th>
             <th>Status</th>
         </tr>
       </thead>

       <tbody>
         <% @users.each do |user| %>
         <% value=""%>
         <% if user.isemployee==true%>
         <% value="Not available"%>
         <% else %>
         <% value="Available"%>
         <% end %>
         <% if user.ismanager %>
         <% else %>
         <tr>
           <td><%= user.email %></td>
           <td><%= user.try(:fullname) %></td>
           <td><%= user.try(:managername) %></td>
            <td><form action="/select/done" method="POST">
         <input type="hidden" name="email"  value="<%= user.email %>">
         <a class="btn waves-effect waves-red"><input type="submit" name="makeemployee"value="<%= value%>"></a>
       </form></td>
         </tr>
         <% end %>

         <% end %>

         <% end %>
       </tbody>
     </table>
