
<style>

@import url('https://fonts.googleapis.com/css?family=Dosis');
tul {
  font-family: 'Dosis', sans-serif;
  list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #333;
    position: fixed;
    top:60px;
    height: 100%;
    overflow: auto;

}
tli {
  margin-bottom: 0px;
}
tli a {
  font-size: 20px;
    display: block;
    color: white;
    padding-left: 50px;
    margin-bottom: 0px;
    text-decoration: none;
    border-bottom: 1px solid grey;
}

/* Change the link color on hover */
tli a:hover {
    background-color: #555;
    color: white;
}
b {
  color: #61dafb;
}
/* Change the link color on hover */
button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 10px;

    border: none;
    text-align: center;
    outline: none;
    font-size: 20px;
    transition: 0.4s;
}





div.panel {
    padding: 0 18px;
    background-color: #333;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
</style>


<% if current_user.ismanager==false && current_user.isemployee==false%>
<button class="button button3"><%= link_to('   Logout', destroy_user_session_path, method: :delete  )%></button><br>
<% end %>

  <!-- <a href="#home">Home</a>
  <li><a href="#news">News</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="#about">About</a></li> -->
<tul>
<% if current_user.ismanager==true %>
 <tli><%= link_to 'Add Your Employees', select_index_path %></tli><br>
<% end %>
<tli><%= link_to 'List of Employees', select_listemployee_path %></tli><br>

<% if current_user.ismanager==true %>
<tli><%= link_to 'List of Managers', select_listmanager_path %></tli><br>

<% end %>
<tli><%= link_to 'New Todo', new_todo_path %></tli>
</tul>



    <% @todos.each do |todo| %>
    <div class="todos">
                <b>Content: </b> <td><%= todo.content %><br>
              <b>  Deadline : </b><td><%= todo.deadline.strftime("%d/%m/%Y %I:%M%p") %><br>
                <button class="accordion">More Option</button>
                    <div class="panel">
          <b>  TransferredTo :</b> <td><%= todo.transferredto %>
                <b>    TransferredBy :</b> <td><%= todo.transferredby%><br>
                  <b>    AssignedTo :     </b><%= todo.assignedto %>
                    <b>  AssignedBy : </b><%= todo.assignedby%><br>

              <form action="/select/transfertask" method="POST">
                <input type="text" placeholder="Enter fullname"name="transfertofullname">
                <input type="hidden" name="todo" value="<%= todo.id %>">
                <input type="submit" name="transfer" value="Transfer">
                </form>

              <form action="/select/assigntask" method="POST">
            <input type="text" placeholder="Enter fullname" name="assigntofullname">
            <input type="hidden" name="todo" value="<%= todo.id %>">
            <input type="submit" name="assign" value="Assign">
            </form>

            <td><%= link_to 'Edit', edit_todo_path(todo) ,{:style=>'color:#FFFFFF;font-size:30px;padding-top:5px;text-decoration: none;margin-right:75%;', :class => "css_class"}%></td>
        <button class="button button3">  <td><%= link_to 'Delete', todo, method: :delete, data: { confirm: 'Are you sure?' } %></td></button><br>
   </div>
</div>

    <% end %>
    <button onclick="myFunction()" name="button" id="movetotop"><h1>^</h1> </button>
<!-- <div style="height:300px;width:100%;"></div> -->
<br>

<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].onclick = function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    }
  }
}
</script>
