


<% if current_user.ismanager==false && current_user.isemployee==false%>
<br><br><br><br><br><br>
<button class="button button3"><%= link_to('   Logout', destroy_user_session_path, method: :delete  )%></button><br>

<% end %>
<div style="height:250px;width:100%;margin-top:60px;">

  +++  <button class="button button3"><%= link_to('   Logout', destroy_user_session_path, method: :delete  )%></button><br>

<% if current_user.ismanager==true %>
 +++ <%= link_to 'Add Your Employees', select_index_path ,{:style=>'color:black;font-size:25px;text-decoration: none;', :class => "css_class"}%><br>
<% end %>
+++<%= link_to 'List of Employees', select_listemployee_path ,{:style=>'color:black;font-size:25px;text-decoration: none;', :class => "css_class"}%><br>

<% if current_user.ismanager==true %>
+++<%= link_to 'List of Managers', select_listmanager_path ,{:style=>'color:black;font-size:25px;text-decoration: none;', :class => "css_class"}%><br>

<% end %>
+++ <%= link_to 'New Todo', new_todo_path ,{:style=>'color:black;font-size:25px;text-decoration: none;', :class => "css_class"}%>
</div>
<div style="height:103px;width:100%;margin-bottom:200px;font-size:35px;text-align:center;background-color:none;">
  Hello <%= current_user.fullname%>
   . Have a Good day.
</div>



      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>



    <% @todos.each do |todo| %>
    <div class="todos">


      Content:  <td><%= todo.content %><br>

      Deadline : <td><%= todo.deadline %><br>


      TransferredTo => <td><%= todo.transferredto %>
TransferredBy<= <td><%= todo.transferredby%><br>
       AssignedTo => <%= todo.assignedto %>
       AssignedBy <= <%= todo.assignedby%><br>

              <form action="/select/transfertask" method="POST">
                <input type="text" name="transfertofullname">
                <input type="hidden" name="todo" value="<%= todo.id %>">
                <input type="submit" name="transfer" value="Transfer">
                </form>
  <form action="/select/assigntask" method="POST">
      <input type="text" name="assigntoemail">
      <input type="hidden" name="todo" value="<%= todo.id %>">
      <input type="submit" name="assign" value="Assign">
      </form>

        <td><%= link_to 'Show', todo ,{:style=>'color:#FFFFFF;font-size:25px;text-decoration: none;', :class => "css_class"}%>
        <td><%= link_to 'Edit', edit_todo_path(todo) ,{:style=>'color:#FFFFFF;font-size:25px;text-decoration: none;', :class => "css_class"}%></td>
      <button class="button button3">  <td><%= link_to 'Destroy', todo, method: :delete, data: { confirm: 'Are you sure?' } %></td></button><br>
</div>

    <% end %>
    <button onclick="myFunction()" name="button" id="movetotop"> Move to Top</button>
<div style="height:300px;width:100%;"></div>
<br>
