
<style>
tul {
  list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #333;
    position: fixed;
    top:60px;
    height: 100%;
    overflow: auto;
}
tli {
  margin-bottom: 0px;
}
tli a {
  font-size: 20px;
    display: block;
    color: white;
    padding-left: 30px;
    margin-bottom: 0px;
    text-decoration: none;
}

/* Change the link color on hover */
tli a:hover {
    background-color: #555;
    color: white;
}
/* Change the link color on hover */

</style>




<% if current_user.ismanager==false && current_user.isemployee==false%>

<button class="button button3"><%= link_to('   Logout', destroy_user_session_path, method: :delete  )%></button><br>

<% end %>


  <!-- <a href="#home">Home</a>
  <li><a href="#news">News</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="#about">About</a></li> -->

<tul>
<% if current_user.ismanager==true %>
 <tli><%= link_to 'Add Your Employees', select_index_path %></tli><br>
<% end %>
<tli><%= link_to 'List of Employees', select_listemployee_path %></tli><br>

<% if current_user.ismanager==true %>
<tli><%= link_to 'List of Managers', select_listmanager_path %></tli><br>

<% end %>
<tli><%= link_to 'New Todo', new_todo_path %></tli>
</tul>

  Hello <%= current_user.fullname%>
   . Have a Good day.




      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>



    <% @todos.each do |todo| %>
    <div class="todos">


      Content:  <td><%= todo.content %><br>

      Deadline : <td><%= todo.deadline %><br>


      TransferredTo => <td><%= todo.transferredto %>
TransferredBy<= <td><%= todo.transferredby%><br>
       AssignedTo => <%= todo.assignedto %>
       AssignedBy <= <%= todo.assignedby%><br>

              <form action="/select/transfertask" method="POST">
                <input type="text" name="transfertofullname">
                <input type="hidden" name="todo" value="<%= todo.id %>">
                <input type="submit" name="transfer" value="Transfer">
                </form>
  <form action="/select/assigntask" method="POST">
      <input type="text" name="assigntoemail">
      <input type="hidden" name="todo" value="<%= todo.id %>">
      <input type="submit" name="assign" value="Assign">
      </form>

        <td><%= link_to 'Show', todo ,{:style=>'color:#FFFFFF;font-size:25px;text-decoration: none;', :class => "css_class"}%>
        <td><%= link_to 'Edit', edit_todo_path(todo) ,{:style=>'color:#FFFFFF;font-size:25px;text-decoration: none;', :class => "css_class"}%></td>
      <button class="button button3">  <td><%= link_to 'Destroy', todo, method: :delete, data: { confirm: 'Are you sure?' } %></td></button><br>
</div>

    <% end %>
    <button onclick="myFunction()" name="button" id="movetotop"> Move to Top</button>
<div style="height:300px;width:100%;"></div>
<br>
