<!DOCTYPE html>
<html>
<head>
  <title>Project</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>
<body>
  <script type="text/javascript">
  function myFunction(){
  var pos = window.scrollY;
  var id = setInterval(frame, 1);
  function frame() {
    if (pos <= 0) {
       clearInterval(id);
   } else {
       pos-=10;
         window.scrollTo(0, pos);
   }
  }
  }
  </script>
  <style>

  ul {
      position: fixed;
      width: 100%;
      top:0;
      font-size: 22px;
      list-style-type: none;
      margin: 0;
      padding: 0;
      height: 60px;
      overflow: hidden;
      background-color: #222;
      border-bottom: 1px solid grey;
  }

  li {
      float: right;
  }

  li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
  }

  li a:hover {
      background-color: #61dafb;
      color: black;
  }
  .about{
    height: 300px;
    width: 100%;
    background-color: #222;
  }
  .companydiv{
    height: 400px;
    width: 100%;
    background-image: url("https://www.threadsol.com/assets/logo-4ffa8e6997c5baf97607f0d254c954b3.png");
     background-repeat: no-repeat;
      background-position: bottom;
      background-attachment: fixed;
  }
  </style>
  <ul>
    <li style="padding-left:40px;letter-spacing: 3px;float:left"><%= link_to 'FullStack', todos_path %></li>

    <li><%= link_to('   Logout', destroy_user_session_path, method: :delete  )%></li>
    <li style="margin-right:40%;letter-spacing: 1px;float:right;color:white;padding-top:15px;">Hello! <%= current_user.try(:fullname) %></li>

  </li>
  </ul>



<%= yield %>

</body>
</html>
