<style>

ul {
    position: fixed;
    width: 100%;
    top:0;
    font-size: 22px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 60px;
    overflow: hidden;
    background-color: #222;
    border-bottom: 1px solid grey;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
  background-color: #61dafb;
  color: black;
}
.about{
  height: 300px;
  width: 100%;
  background-color: #222;
}
.companydiv{
  height: 400px;
  width: 100%;
  background-image: url("https://www.threadsol.com/assets/logo-4ffa8e6997c5baf97607f0d254c954b3.png");
   background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
}
</style>

<ul>
  <li style="margin-left:15px;letter-spacing: 3px; float:left;"><%= link_to "FullStack", new_session_path(resource_name) %></li>


  <li><a href="#about">About</a></li>
  <li><a href="#contact">Contact</a></li>
  <li style=""><%= link_to "Signin", new_session_path(resource_name) %>
</li>
</ul>

<div class="border-form-div">
  <h2>Sign up</h2>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
   <%= devise_error_messages! %>
    <%= f.text_field :fullname, :autofocus => true, :placeholder => 'Full Name'%><br />
    <%= f.email_field :email, :autofocus => true, :placeholder => 'Email address' %><br>
    <%= f.password_field :password, :placeholder => 'Password' %><br>
    <%= f.password_field :password_confirmation, :placeholder => 'Password confirmation' %><br>
    <button class="button button3">  <%=  "Sign up" %></button><br>

  <% end -%>


</div>
<div class="companydiv">


</div>
<div class="about">
<h2 style="color:white;">About</h2>

</div>
